<div class="items-center justify-between block sm:flex mt-5">
  <div class="flex items-center mb-4 sm:mb-0">
    <form class="sm:pr-3">
      <label for="padres-search" class="sr-only">Buscar</label>
      <div class="relative w-48 mt-1 sm:w-64 xl:w-96 mb-10">
        <input
        name="search"
        id="padres-search"
        [(ngModel)]="searchText"
        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
        placeholder="Buscar por nombre"
      />
      </div>
    </form>
  </div>
</div>

<div class="flex flex-col">
  <div class="overflow-x-auto">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden shadow">
        <table class="min-w-full divide-y divide-gray-200 table-fixed">
          <thead class="bg-gray-100" [appEncabezadoDinamico]="encabezados"></thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngFor="let matricula of matriculas | filter:searchText:'cod_matricula'" class="hover:bg-gray-100">
              <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap">{{ matricula.id_matricula }}</td>
              <td class="p-4 text-sm text-center font-normal text-gray-500 whitespace-nowrap">{{ matricula.cod_matricula }}</td>
              <td class="p-4 text-sm text-center font-normal text-gray-500 whitespace-nowrap">{{ matricula.fecha_matricula }}</td>
              <td class="p-4 text-sm text-center font-normal text-gray-500 whitespace-nowrap">{{ matricula.periodo }}</td>
              <td class="p-4 text-sm text-center font-normal text-gray-500 whitespace-nowrap">{{ matricula.concepto_pago }}</td>
              <td class="p-4 text-sm text-center font-normal text-gray-500 whitespace-nowrap">{{ matricula.padre_nombre }}</td>
              <td class="p-4 space-x-2 whitespace-nowrap">
                <button class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-primary-70 rounded-lg focus:ring-4 focus:ring-yellow-200">
                  Editar
                </button>
                <button class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-500 rounded-lg hover:bg-red-600 focus:ring-4 focus:ring-red-200">
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
