<footer class="bg py-2">
  <div class="flex w-full flex-wrap items-center justify-center gap-8 px-3 md:justify-between">
    <p class="block antialiased font-sans text-sm leading-normal font-normal">© 2025, hecho por
      <a href="#" target="_blank" class="transition-colors hover:text-blue-400">Carmen y Sandy</a>
    </p>
    <ul class="flex items-center gap-4">
      <li>
        <a href="#" target="_blank" class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal transition-colors hover:text-blue-400">Colegio Cristo Rey</a>
      </li>
    </ul>
  </div>
</footer>
