.sidebar {
  padding-top: 65px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

/* Estilo base del sidebar */
.sidebar {
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

/* Clase para cuando el sidebar está abierto */
.sidebar.open {
  transform: translateX(0);
}

/* Clase para cuando el sidebar está cerrado */
.sidebar.closed {
  transform: translateX(-100%);
}


/* sidebar.component.css */

.sidebar {
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background-color: #ffffff;
}

.sidebar-open {
  transition: width 0.3s ease-in-out;
  width: 14rem; /* equivalente a 64 */
}

.sidebar-closed {
  transition: width 0.3s ease-in-out;
  width: 4rem; /* equivalente a 16 */
}
/* Clase para margen izquierdo cuando el sidebar está abierto */
.ml-open {
  margin-left: 1rem; /* equivalente a 6 */
}

/* Clase para margen izquierdo cuando el sidebar está cerrado */
.ml-closed {
  margin-left: 0; /* sin margen */
}
