<div class="pb-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5">
  <div class="w-full mb-1">
    <div class="mb-4">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl">
        Matrículas
      </h1>
    </div>
    <div class="container-fluid">
      <ul class="full-box list-unstyled page-nav-tabs flex justify-center space-x-4">
        <li>
          <a routerLink="/dashboard/matriculas" class="active inline-flex items-center"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA DE MATRICULAS</a>
        </li>
        <li>
          <a routerLink="/dashboard/matriculas/add" class="inline-flex items-center"><i class="fas fa-plus fa-fw"></i> &nbsp; AGREGAR MATRICULA</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
